.git
**/.git
**/node_modules
**/bin
**/obj
**/logs
**/*.log
frontend/build
frontend/node_modules
client-app/bin
client-app/obj
client-app/logs
middleware/uploads
network/ipfs_data
network/pgdata
network/pgdata-annex
network/pgdata-pubad
network/bin
network/**/*.tar.gz
network/**/*.tgz
network/**/*.pb
network/**/*.data
.env
**/.env
