node_modules/
**/node_modules/
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.suo
.env
.env.bak
.fake
__pycache__/
*.pyc

# Ignore generated certs but keep the directory (requires an empty .gitkeep file inside)
network/crypto-config/*
!network/crypto-config/.gitkeep

network/fabric-ca/*/msp/
network/fabric-ca/*/tls/
network/fabric-ca/**/*.db
network/fabric-ca/**/*.pem
network/fabric-ca/**/Issuer*
client-app/bin/
client-app/obj/
*.cache
*.cache.json
network/postgres-data/
network/ipfs/

# Ignore downloaded binaries but keep the directory
network/bin/*
!network/bin/.gitkeep

network/*.block
network/*.tar.gz

# Chaincode dynamically generated variables
chaincode/.env

network/ env.bak

# Build output
frontend/build/

# Logs
*.log
client-app/logs/

# Hyperledger Fabric & Application Generated Artifacts
network/channel-artifacts/*
!network/channel-artifacts/.gitkeep

middleware/wallet/
network/fabric-samples/

# OS & Editor specific (good practice)
.vscode/
.idea/
.DS_Store